.formImput{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    padding:5px !important;
    
}
body {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

 li  :hover{
    cursor: pointer;
    background: rgb(26, 4, 4);
}


input:hover{
    cursor: pointer !important;
    color: #ccc;
}

.centerimg{
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    z-index: -1;
}
.matricula{
    float: right !important;
    font-style: bold !important;
    font-style: underline !important;
}

